@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
    --font-orbitron: var(--font-orbitron);
     --font-pacifico: var(--font-pacifico);

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-orbitron: var(--font-orbitron);
  --font-lora: var(--font-lora);
   --font-raleway: var(--font-raleway);
    --font-pacifico: var(--font-pacifico);
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
